<div class="row">
  <div class="col-md-12">
    <h2>Loans</h2>
    <table class="table">
      <thead>
        <tr>
          <th>Base Price</th>
          <th>Number of Months</th>
          <th>Interest Rate</th>
          <th>Minimum Credit Score</th>
          <th>Total Cost</th>
        </tr>
      </thead>
      <tbody class="available-loans">
        <tr>
          <td>$20,000</td>
          <td>60</td>
          <td>2.5%</td>
          <td>720</td>
          <td>$22,628.16</td>
        </tr>
        <tr>
          <td>$20,000</td>
          <td>60</td>
          <td>4.5%</td>
          <td>690</td>
          <td>$24,923.64</td>
        </tr>
        <tr>
          <td>$20,000</td>
          <td>60</td>
          <td>6.5%</td>
          <td>660</td>
          <td>$27,401.73</td>
        </tr>
        <tr>
          <td>$20,000</td>
          <td>60</td>
          <td>8.5%</td>
          <td>630</td>
          <td>$30,073.13</td>
        </tr>
        <tr>
          <td>$20,000</td>
          <td>60</td>
          <td>10.5%</td>
          <td>600</td>
          <td>$32,948.94</td>
        </tr>
        <tr>
          <td>$20,000</td>
          <td>60</td>
          <td>12.5%</td>
          <td>570</td>
          <td>$36,040.65</td>
        </tr>
        <tr>
          <td>$20,000</td>
          <td>60</td>
          <td>14.5%</td>
          <td>540</td>
          <td>$39,360.21</td>
        </tr>
        <tr>
          <td>$20,000</td>
          <td>60</td>
          <td>16.5%</td>
          <td>510</td>
          <td>$42,919.99</td>
        </tr>
        <tr>
          <td>$20,000</td>
          <td>60</td>
          <td>18.5%</td>
          <td>480</td>
          <td>$46,732.79</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
<%= render 'activity/footer' %>
